

/*-- Question list
Styles applied over the group of questions (main OL and LI tags)
-----------------------------------------------------------------------------*/

section.academy-post-test-test {
    counter-reset: questionlist;
}

article.academy-post-test-question {
    list-style-type: none;
    page-break-inside: avoid;

    margin: 0px 0px 1em 0px;
}

article.academy-post-test-question p {
    list-style-position: inside;
    margin: 0px 0px 0.25em 0px;
    padding: 0px;
}

article.academy-post-test-question p::before {
    margin: 0px 0px 0px 0px;
    padding: 0px 0.5ch 0px 0px;
    list-style-position: inside;
    content: counter(questionlist, decimal) ".- ";
    counter-increment: questionlist;
}

article.academy-post-test-question p.academy-question-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
}

.academy-test-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
    margin-bottom: 1em;
}

/*-- Answer list
Styles applied over the group of answers
-----------------------------------------------------------------------------*/

article.academy-post-test-question ol.academy-answer-ids {
    counter-reset: answerlist;

    padding: 0px 0px 0px 0;
    margin: 0px;
}

article.academy-post-test-question ol.academy-answer-ids > li.academy-answer {
    list-style-position: inside;
    list-style-type: none;
}

article.academy-post-test-question ol.academy-answer-ids > li::before {
    content: counter(answerlist, lower-alpha) ") ";
    counter-increment: answerlist;
}


/*-- Image attachments subtemplate
Styles applied over images, figure, figcaption and other related items
-----------------------------------------------------------------------------*/

div.ir-attachment-image-ids figure {
    margin: 6px auto!important;
}

div.ir-attachment-image-ids figcaption.ir-attachment-image-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 3px;
}

div.ir-attachment-image-ids img {
    margin-left: auto;
    margin-right: auto;
}


/*-- Answers table
Styles required to be used in answers table
-----------------------------------------------------------------------------*/
.answers-table {
    width: 100%
}

.answers-table td,
.answers-table th {
    line-height: 1em;
    vertical-align: middle;
    font-size: 0.75em;
}

.answers-table td ul {
    margin: 0px;
}

.answers-table-question {
    width: 5%;
}

.answers-table-answer {
    width: 10%;
}

.answers-table-description {
    width: 45%;
}

.answers-table-topic {
    width: 20%;
}

.answers-table-category {
    width: 20%;
}

