.o_question_kanban {
    position: relative;
    padding-bottom: 2.25em!important;
}

.o_question_kanban_answer_list {
    padding-left: 18px;
    list-style-type: none;
    counter-reset: question_kanban_answer_list;
}

.o_question_kanban_answer_list li[data-is-correct=true] > span {
    font-weight: bold;
    text-decoration: underline;
}

.o_question_kanban_answer_list li {
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.o_question_kanban_answer_list li:before {
    content: counter(question_kanban_answer_list, lower-alpha)") ";
    counter-increment: question_kanban_answer_list;
}

.o_question_kanban_status_bar {
    position:absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 2em;
    background-color: #F0F0F0;
    font-size: 90%;
    font-variant: monospace;
    cursor: auto;
}

.o_question_kanban_status_bar > div {
    border-top: 1px solid white;
    font-size: 90%;
    font-variant: monospace;
    cursor: auto;
}

.o_question_kanban_status_bar div + div {
    border-left: 1px solid white;
}

.o_question_kanban_status_topic {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.o_question_kanban_status_menu,
.o_question_kanban_status_menu > a {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.o_question_kanban_status_menu {
    overflow: visible!important;
}

.o_question_kanban_status_menu .dropdown-menu {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

/* STYLES WILL BE USED BY ACADEMY TESTS TEST QUESTION REL VIEWS
******************************************************************************/

.view_academy_tests_test_question_rel_tree th[data-name="index"],
.view_academy_tests_test_question_rel_tree td.oe_field_index {
    text-align: center!important;
    padding-left: 3px!important;
    padding-right: 3px!important;

}

.view_academy_tests_test_question_rel_tree td.oe_field_index {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.15em;
}

/* STYLES WILL BE USED BY IMPORT WIZARD
******************************************************************************/

.oe_view_academy_tests_question_import_form .oe_field_content {
    min-height: 15em;
}

.oe_view_academy_tests_question_import_form .oe_import_wizard_attachments .fa-copy {
    margin-right: 12px;
}


/* PATCH ODOO CSS
******************************************************************************/

/* Breadcrumbs patch to cut question title, this should be changed in python
code but I have not found where I should make the change */
.o_main_content > .o_breadcrumb_full > .breadcrumb > li {
    max-width: 300px;
}



.academy-tests-test-data textarea.oe_field_preamble,
.academy-tests-test-data textarea.oe_field_description,
.academy-tests-question-data textarea.oe_field_preamble,
.academy-tests-question-data textarea.oe_field_description {
    resize: vertical!important;
}


/* Replace bootstrap alert classes
 * Odoo sends warning when alert class is used, following classes can be
 * used instead
******************************************************************************/

.academy-tests-test-msgbox {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.academy-tests-test-msgbox-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.academy-tests-test-msgbox-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.academy-tests-test-msgbox-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* manual-categorization-tree-view
******************************************************************************/

.manual-categorization-tree-view .o_list_record_selector {
    width: 40px!important;
}

.manual-categorization-tree-view [data-name="markdown"] {
    width: 50%!important;
    max-width:  50%!important;
}

/*
.manual-categorization-tree-view .oe_field_markdown {
    font-size:  13px;
    font-family: monospace;
    padding-top: 3px ;
    line-height:  1.15em!important;
}*/

.manual-categorization-tree-view [data-name="topic_id"],
.manual-categorization-tree-view [data-name="topic_version_ids"],
.manual-categorization-tree-view [data-name="category_ids"] {
    min-width:  120px!important;
}

.manual-categorization-tree-view [data-name="topic_id"] {
    width:  20%!important;
}

.manual-categorization-tree-view [data-name="topic_version_ids"], {
    width:  10%!important;
}

.manual-categorization-tree-view [data-name="category_ids"] {
    width:  20%!important;
}

.manual-categorization-tree-view td.o_list_button {
    min-width: 24px;
    text-align: center;
}

.manual-categorization-tree-view .oe_edit_only {
    display: none;
}

.manual-categorization-tree-view .o_selected_row .oe_edit_only {
    display: inline-block;
}
