/* STYLES WILL BE USED BY ACADEMY TESTS QUESTION FORM
******************************************************************************/

.o_question_form h1.oe_statement {
    font-size:  125%;
}

.o_question_form .o_field_many2many.oe_field_ir_attachment_image_ids {
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.o_question_form .oe_field_ir_attachment_image_ids .oe_kanban_global_click.o_kanban_record {
    border: none!important;
}

.o_question_form .oe_field_ir_attachment_image_ids .o_attachment_image {
    max-height: 160px;
    overflow: hidden;
}

.o_question_form .oe_field_ir_attachment_image_ids .o_attachment_image img {
    max-height: 100%!important;
    max-width: 100%!important;
    width:auto!important;
    height:auto!important;
}

.o_question_form .oe_field_ir_attachment_image_ids .o_kanban_record .oe_module_vignette+span {
    font-size:small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-top: 0.5em;
}

.o_question_form .oe_field_answer_ids th[data-name="sequence"],
.o_question_form .oe_field_answer_ids th[data-name="is_correct"],
.o_question_form .oe_field_answer_ids th[data-name="cmd_open_in_form"] {
    width: 30px!important;
}

.o_question_form td.o_data_cell.o_field_cell.oe_field_is_correct,
.o_question_form td.o_data_cell.o_list_button {
    text-align: center;
}

.o_question_form .oe_field_answer_ids[data-name="name"] {
    width: 100%!important;
}

/* STYLES WILL BE USED BY ACADEMY TESTS QUESTION KANBAN
******************************************************************************/

.o_question_kanban {
    position: relative;
    padding-bottom: 2.25em!important;
}

/*.o_kanban_view.o_kanban_ungrouped .o_question_kanban.o_kanban_record {
  width: 400px;
}*/

.o_question_kanban .oe_kanban_details > h4 {
    font-size:  100%!important;
}

.o_question_kanban_answer_list {
    padding-left: 18px;
    list-style-type: none;
    counter-reset: question_kanban_answer_list;
}

.o_question_kanban_answer_list li[data-is-correct=true] > span {
    font-weight: bold;
    text-decoration: underline;
}

.o_question_kanban_answer_list li {
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.o_question_kanban_answer_list li:before {
    content: counter(question_kanban_answer_list, lower-alpha)") ";
    counter-increment: question_kanban_answer_list;
}

.o_question_kanban_status_bar {
    position:absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 2em;
    background-color: #F0F0F0;
    font-size: 90%;
    font-variant: monospace;
    cursor: auto;
}

.o_question_kanban_status_bar > div {
    border-top: 1px solid white;
    font-size: 90%;
    font-variant: monospace;
    cursor: auto;
}

.o_question_kanban_status_bar div + div {
    border-left: 1px solid white;
}

.o_question_kanban_status_topic {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.o_question_kanban_status_menu,
.o_question_kanban_status_menu > a {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.o_question_kanban_status_menu {
    overflow: visible!important;
}

.o_question_kanban_status_menu .dropdown-menu {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

/* STYLES WILL BE USED BY ACADEMY TESTS TEST QUESTION REL VIEWS
******************************************************************************/

.view_academy_tests_test_question_rel_tree th[data-name="index"],
.view_academy_tests_test_question_rel_tree td.oe_field_index {
    text-align: center!important;
    padding-left: 3px!important;
    padding-right: 3px!important;

}

.view_academy_tests_test_question_rel_tree td.oe_field_index {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.15em;
}

/* STYLES WILL BE USED BY IMPORT WIZARD
******************************************************************************/

.oe_view_academy_tests_question_import_form .oe_field_content {
    min-height: 15em;
}

.oe_view_academy_tests_question_import_form .oe_import_wizard_attachments .fa-copy {
    margin-right: 12px;
}


/* PATCH ODOO CSS
******************************************************************************/

/* Breadcrumbs patch to cut question title, this should be changed in python
code but I have not found where I should make the change */
.o_main_content > .o_breadcrumb_full > .breadcrumb > li {
    max-width: 300px;
}



.academy-tests-test-data textarea.oe_field_preamble,
.academy-tests-test-data textarea.oe_field_description,
.academy-tests-question-data textarea.oe_field_preamble,
.academy-tests-question-data textarea.oe_field_description {
    resize: vertical!important;
}


/* Replace bootstrap alert classes
 * Odoo sends warning when alert class is used, following classes can be
 * used instead
******************************************************************************/

.academy-tests-test-msgbox {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.academy-tests-test-msgbox-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.academy-tests-test-msgbox-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.academy-tests-test-msgbox-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* manual-categorization-tree-view
******************************************************************************/

.manual-categorization-tree-view .o_list_record_selector {
    width: 40px!important;
}

.manual-categorization-tree-view [data-name="markdown"] {
    width: 50%!important;
    max-width:  50%!important;
}

.manual-categorization-tree-view [data-name="topic_id"],
.manual-categorization-tree-view [data-name="topic_version_ids"],
.manual-categorization-tree-view [data-name="category_ids"] {
    min-width:  120px!important;
}

.manual-categorization-tree-view [data-name="topic_id"] {
    width:  20%!important;
}

.manual-categorization-tree-view [data-name="topic_version_ids"], {
    width:  10%!important;
}

.manual-categorization-tree-view [data-name="category_ids"] {
    width:  20%!important;
}
.manual-categorization-tree-view th[data-name="save"],
.manual-categorization-tree-view th[data-name="cancel"],
.manual-categorization-tree-view th[data-name="open_form_view"],
.manual-categorization-tree-view td.o_list_button {
    min-width: 24px!important;
    max-width: 28px!important;
    text-align: center;
}

.manual-categorization-tree-view .oe_edit_only {
    display: none;
}

.manual-categorization-tree-view .o_selected_row .oe_edit_only {
    display: inline-block;
}

/* Display question as HTML
******************************************************************************/

.display_question_as_html li,
.display_question_as_html p {
    text-overflow: hidden;
    white-space: initial;
    line-height: 1.5em;
    margin: 0;
}

.display_question_as_html .academy-answer.is-correct {
    text-decoration: underline;
}

.display_question_as_html .academy-question-name {
    font-weight: bold;
}

.display_question_as_html ol {
    list-style-type: lower-alpha!important;
}

.display_question_as_html figure {
    max-height: 160px;
    overflow: hidden;
}

.display_question_as_html figure img {
    max-height: 100%!important;
    max-width: 100%!important;
    width:auto!important;
    height:auto!important;
}


/* Center buttons on parent cell in tree view (.oe_center_buttons)
******************************************************************************/

.oe_center_buttons .o_list_button {
    text-align: center;
}


/* Display question as HTML
******************************************************************************/

/*.question-request-embed-tree-view [data-name="res_user_id"],
.question-request-embed-tree-view [data-name="topic_id"] {
    max-width: 180px!important;
    width: 180px!important;
}

.question-request-embed-tree-view [data-name="minimum"],
.question-request-embed-tree-view [data-name="maximum"],
.question-request-embed-tree-view [data-name="supplied"] {
    max-width: 90px!important;
    width: 90px!important;
}

.question-request-embed-tree-view [data-name="remind"],
.question-request-embed-tree-view [data-name="wizard"] {
    max-width: 40px!important;
    width: 40px!important;
}

.question-request-embed-tree-view .o_list_button {
    text-align: center;
}
*/


/* view_academy_tests_question_append_wizard_link_tree
******************************************************************************/

.oe_append_wizard_link_tree thead [data-name="sequence"] {
    width: 33px!important;
}

.oe_append_wizard_link_tree thead [data-name="question_id"] {
    width: 100%!important;
}

.oe_append_wizard_link_tree thead .o_list_record_remove_header {
    width: 33px!important;
}

.oe_append_wizard_link_tree td.o_handle_cell,
.oe_append_wizard_link_tree td.o_list_record_remove {
    text-align: center!important;
}


/* view_academy_tests_question_impugnment_reply_form
******************************************************************************/

.view_academy_tests_question_impugnment_reply_form .oe_field_description {
    resize: vertical!important;
    min-height: 6.5em!important;
}


.view_academy_tests_question_impugnment_reply_form .o_td_label {
    border: none!important;
}